.colorRojo {
    background-color:  #e53e3e;
  }

.colorNaranjo{
    background-color:  #dd6b20;
}

.colorAmarillo{
    background-color:   #faf089;
}

.colorVerde{
    background-color:  #48bb78;
}

.colorCeleste{
    background-color:  #81e6d9;
}

.colorRosa{
    background-color:  #d53f8c;
}
